{% extends "layouts/base.html" %}
{% load static %}
{% block head_title %}
Sign out
{% endblock head_title %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row mt-md-0 mt-5 pt-5">
        <div class="col text-center">
            <h1>Sign out</h1>
            <p>Are you sure you want to sign out?</p>
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn text-center text-white" style="font-weight: 500; background-color: var(--primary-color);">Yes</button>
                <a href="{% url 'home' %}" class="btn text-center ms-2 text-white" style="background-color: grey;">No</a>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
