{% extends "layouts/base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}


{% block content %}

{% include 'snippets/messages.html' %}

{% if not user.is_authenticated %}
    {% include "includes/navbar-landing.html" %}
{% endif %}

<div class="row pt-3 align-items-start {% if not user.is_authenticated %} align-items-center justify-content-center mt-3 {% endif %}">
    <div class="col-lg-6 p-lg-5 p-4">
    <h2 {% if not user.is_authenticated %} style="color: white; text-align: center;" {% endif %}>
        Password Reset
    </h2>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p {% if not user.is_authenticated %} style="color: white; text-align: center;" {% endif %}>
        We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
    </p>
    </div>
</div>
{% endblock content %}
