{% extends "layouts/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}


{% block content %}

{% include "includes/navbar.html" %}

<div class="row justify-content-center">
    <div class="col-lg-6 mt-lg-0 mt-5">
        {% if token_fail %}
            <h2 class="text-center">{% trans "Bad Token" %}</h2>
        {% else %}
            <h2 class="text-center">{% trans "Change Password" %}</h2>
        {% endif %}
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            {% element p %}
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            {% endelement %}
        {% else %}
            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field|add_class:"form-control rounded mt-3 p-2 w-50" }}
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn mt-3" style="background-color: var(--primary-color); color: white; font-weight: 500;">Change Password</button>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
