{% extends "layouts/base.html" %}
{% load allauth i18n %}
{% load widget_tweaks %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

<style>
    a {
        color: #007bff;
        text-decoration: none;
    }

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

</style>

{% block content %}

{% include 'snippets/messages.html' %}


<div class="row pt-3 align-items-lg-start align-items-center">
    <div class="col-lg-6 p-lg-5 p-4">
        <h2 class="mb-4">{% trans "Change Password" %}</h2>
        {% url 'account_change_password' as action_url %}
        <form
            hx-post="{% url 'account_change_password' %}"
            hx-target="#main-profile"
            hx-swap="innerHTML"
            method="post"
            action="{{ action_url }}"
        >
            {% csrf_token %}
            {{ redirect_field }}
            {% for field in form %}
                <div class="form-group">
                    {{ field|add_class:"form-control rounded mt-2 p-2 w-100" }}
                    {% if field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="d-flex align-items-center">
                <button type="submit" class="btn mt-3" style="font-weight: 500;">
                    {% trans "Save" %}
                </button>
                <a
                    hx-get="{% url 'account_reset_password' %}"
                    hx-target="#main-profile"
                    hx-swap="innerHTML"
                    style="cursor: pointer;"
                    class="d-block mt-3 ms-3">{% trans "Forgot Password?" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
