{% extends "layouts/base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}


{% block content %}
    {% include "includes/navbar-landing.html" %}
    {% include "snippets/messages.html" %}
    <div class="text-center pt-5 mt-3">
        <h2 style="color: white;">
            Change Password
        </h2>
        <p style="color: white;">
            Your password is now changed
        </p>
        <div>
            <a href="{% url 'account_login' %}" class="btn" style="font-weight: 500;">Log in</a>
        </div>
    </div>
{% endblock content %}
