{% extends 'layouts/base.html' %}
{% block head_title %}
Report {% if post %} {{ post.title }} {% else %} comment {% endif %}
{% endblock head_title %}
{% load widget_tweaks %}
{% block content %}

<div class="col-lg-8 col mx-auto bg-light p-3 border rounded">
    <h1><span class="text-danger">Report</span> {% if post %} {{ post.title }} {% else %} comment {% endif %}</h1>
    <form
        {% if post %}
            hx-post="{% url 'report_post' post.id %}"
            hx-target="#main-content"
            hx-swap="innerHTML"
        {% else %}
            hx-post="{% url 'report_comment' comment.id %}"
            hx-target="#main-content"
            hx-swap="innerHTML"
        {% endif %}
    >
        {% csrf_token %}
        {% render_field form.reason|add_class:"form-control" style="margin-bottom: 10px;" %}
        {% render_field form.description %}
        <button type="submit" class="btn btn-danger mt-1">Submit Report</button>
    </form>
</div>
{% endblock %}
