<div
    class="d-flex justify-content-between"
    style="background-color: var(--secondary-color); position: sticky; top: 0; z-index: 1000;"
>
    <div>{% include 'includes/navbar-landing.html' %}</div>
    <div class="align-content-center pe-2 d-lg-none">
        <svg
            id="dropdown-icon"
            width="46"
            height="46"
            viewBox="0 0 46 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M9.58325 13.4167H36.4166"
                stroke="white"
                stroke-width="3.83333"
                stroke-linecap="round"
            />
            <path
                d="M9.58325 23H36.4166"
                stroke="white"
                stroke-width="3.83333"
                stroke-linecap="round"
            />
            <path
                d="M9.58325 32.5833H36.4166"
                stroke="white"
                stroke-width="3.83333"
                stroke-linecap="round"
            />
        </svg>
    </div>
    <div class="navbar-items d-lg-block d-none my-auto">
        <a
            class="profile-menu-item"
            style="cursor: pointer; color: white;"
            >{{ profile.user.username }}</a>
        {% if user.emailaddress_set.all.0.verified %}
        <img
            class="rounded-circle me-3"
            src="{{ profile.image.url }}" alt=""
            style="width: 40px; height: 40px; object-fit: cover;">
        {% endif %}
    </div>
</div>
<div
    class="profile-menu-list d-none p-4 mt-2 text-center d-flex flex-column align-items-center"
    style="width: fit-content; max-width: 300px; border-radius: 10px ;background-color: rgba(255, 255, 255, 0.9); position: absolute; right: 45px; z-index: 1000;">
    <img
        class="rounded-circle mx-auto d-block"
        src="{{ profile.image.url }}" alt=""
        style="width: 100px; height: 100px; object-fit: cover;"
    >
    <h4 class="pt-3">{{ profile.user.username }}</h4>
    <p class="text-muted p-2 border-bottom">Joined - {{ profile.user.date_joined|date:"F d, Y" }}</p>
    <div class="d-flex ">
        <div class="p-2 mb-1 text-muted d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
            <a
            hx-get="{% url 'show_user' user.username %}"
            hx-target="#main-content"
            hx-swap="innerHTML"
            class="ps-2 text-start text-muted" style="cursor: pointer;"
            >Profile</a>
        </div>
        <div class="p-2 mb-1 text-muted d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="red" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
            </svg>
            <a
            hx-get="{% url 'account_logout' %}"
            hx-swap="outerHTML"
            hx-target="#main-content"
            class="ps-2 text-start text-muted" style="cursor: pointer; color: red;"
            >Sign out</a>
        </div>
    </div>
</div>


<!-- navbar -->
    <!-- mobile view menu -->
    <div id="menu-items" class="d-none">
        <ul>
            <a
                hx-get="{% url 'show_user' request.user.username %}"
                hx-target="#main-content"
                hx-swap="innerHTML"
                style="cursor: pointer; color: var(--secondary-color);"><li>Profile</li></a>
            <a
                hx-get="{% url 'account_logout' %}"
                hx-swap="outerHTML"
                hx-target="#main-content"
                style="cursor: pointer; color: var(--secondary-color);"><li>Logout</li></a>
        </ul>
    </div>
    <!-- end of mobile view menu -->
<!-- end of navbar -->

<script>
    const profileMenuItem = document.querySelector('.profile-menu-item');
    const profileMenuList = document.querySelector('.profile-menu-list');

    profileMenuItem.addEventListener('click', () => {
        profileMenuList.classList.remove('d-none');
    });

    profileMenuList.addEventListener('mouseleave', () => {
        profileMenuList.classList.toggle('d-none');
    });

</script>