{% extends "layouts/base.html" %}
{% load static %}
{% block head_title %}
Delete Post - {{ post.title }}
{% endblock head_title %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row mt-md-0 mt-5 pt-5">
        <div class="col text-center">
            <h1>Delete Post</h1>
            <p>Are you sure you want to <span class="text-danger">Delete</span> this post?</p>
            <form action="{% url 'delete_post' post.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn text-center text-white" style="font-weight: 500; background-color: var(--primary-color);">Yes</button>
                <a
                    hx-get="{% url 'post_detail' post.id %}"
                    hx-target="#main-content"
                    hx-swap="innerHTML"
                    class="btn text-center ms-2 text-white" style="background-color: grey;">No</a>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
