<h3 class="mt-4 pb-1" style="color: green; text-decoration: underline;">Solution</h3>
<div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <img
            class="rounded-circle me-3"
            src="{{ comment.author.user_profile.image.url }}" alt=""
            style="width: 50px; height: 50px; object-fit: cover;"
        >
        <a
            hx-get="{% url 'show_user' post.solution_comment.author.username %}"
            hx-target="#main-content"
            hx-swap="innerHTML"
            class="me-1"
            style="color: rgb(75, 75, 75); font-weight: 500; cursor: pointer;"
            >{{ post.solution_comment.author }}</a>
    </div>
    <small>{{ post.solution_comment.created_at|timesince }}</small>
</div>
<div class="mt-3 mb-2 p-2" style="border-bottom: 1px solid lightgray;">
    <p class="card-text">{{ post.solution_comment.body|safe }}</p>
    <div class="d-flex justify-content-between">
        <div>
            <span class="pe-1">
                {{ post.solution_comment.likes.count }} <!-- likes -->
            </span>
            {% if user in post.solution_comment.likes.all %}
            <a
                hx-post="{% url 'like_comment' comment.id %}"
                hx-target="#main-content"
                hx-swap="innerHTML"
                style="cursor: pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#e6324b" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                </svg>
            </a>
            {% else %}
            <a
                hx-post="{% url 'like_comment' comment.id %}"
                hx-target="#main-content"
                hx-swap="innerHTML"
                style="cursor: pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                </svg>
            </a>
            {% endif %}
        </div>
        {% if request.user == comment.author %}
            <div class="dropdown">
                <svg class="dropdown-toggle" style="cursor: pointer;" data-bs-toggle="dropdown" aria-expanded="false" width="35" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="1" stroke="#33363F" stroke-width="2" stroke-linecap="round"/>
                    <circle cx="6" cy="12" r="1" stroke="#33363F" stroke-width="2" stroke-linecap="round"/>
                    <circle cx="18" cy="12" r="1" stroke="#33363F" stroke-width="2" stroke-linecap="round"/>
                </svg>
                <ul class="dropdown-menu">
                    <li><a
                    class="dropdown-item"
                    hx-get="{% url 'edit_comment' comment.id %}"
                    hx-target="#main-content"
                    hx-swap="innerHTML"
                    style="cursor: pointer;"
                    >Edit Comment</a></li>
                    <li><a
                    class="dropdown-item"
                    hx-get="{% url 'delete_comment' comment.id %}"
                    hx-target="#main-content"
                    hx-swap="innerHTML"
                    style="cursor: pointer; color: red;"
                    class="ms-3"
                    >Delete</a></li>
                </ul>
            </div>
        {% endif %}
        {% if request.user != comment.author and request.user == comment.post.author %}
            <a
                hx-get="{% url 'mark_solution' post.solution_comment.id %}"
                hx-target="#main-content"
                hx-swap="innerHTML"
                style="cursor: pointer;">
                {% if post.solution_comment.mark_solution %}
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                </svg>     
                {% endif %}
            </a>
        {% endif %}
    </div>
</div>